
.container {
    position: relative;
    margin: 0 auto;
    max-width: 1440px;

    .container_all {
        max-width: 1170px;
        margin: 0 auto;

// .senksion1{
//     width: 1170px;
//     height: 100vh;
//     background-color: #F2F2F2;
//   .font{
//     display: flex;
//     justify-content: center;  
  
// .servis{
//  font-size: 16px;
//  color: #EF6D58; 
 
// }

// .can_help{
//     color: #391400;
//     font-size: 56px;
// }
//  }

//  .bos{
//     display: flex;
//     justify-content: center;
//     .box1{
//     width: 425px;
//     height: 128px;
//     border: 1px solid #F3D1BF;                   
//  }
// }

// }
.our_agency{
 
    background-color: aqua;
    width: 100%; height: 100vh;
    .our_agency_text{
        color: antiquewhite;
        
    }
    .our_agency_table{
        display: flex;
        justify-content: center;
    }
}

} 
}




    
